@charset "UTF-8";
/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
  header {
    letter-spacing: normal;
  }
  header .container .header-left img {
    position: relative;
    top: -2px;
  }
  header .container .header-left p {
    font-size: 12px;
  }
  header .container .doc-btn {
    width: 260px;
    height: 40px;
  }
  header .container .doc-btn a {
    font-size: 12px;
    line-height: 40px;
  }
  .top-wrapper {
    background-size: auto;
    background-position: bottom 0 right 50%;
    letter-spacing: 2px;
  }
  .top-wrapper .container h1 {
    font-size: 24px;
  }
  .top-wrapper .container h2 {
    font-size: 16px;
  }
  .doc-wrapper {
    letter-spacing: 2px;
  }
  .doc-wrapper .container .skill p {
    font-size: 16px;
  }
  .doc-wrapper .container .skill .free {
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  .doc-wrapper .container .skill .free span {
    font-size: 14px;
  }
  .doc-wrapper .container .doc-btn {
    height: 80px;
    border-radius: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  .doc-wrapper .container .doc-btn a {
    line-height: 80px;
    font-size: 20px;
  }
  .doc-wrapper .container > p {
    letter-spacing: 1px;
    font-size: 18px;
  }
  .freedom-wrapper .container .freedom-title h1 {
    font-size: 24px;
  }
  .freedom-wrapper .container p {
    font-size: 16px;
  }
  .yellow-braces, .white-braces {
    width: 96%;
  }
  .about-wrapper .container .about-title h1 {
    font-size: 24px;
  }
  .about-wrapper .container .about-text p {
    font-size: 16px;
  }
  .about-wrapper .container .about-skill > p {
    font-size: 16px;
  }
  .step-wrapper {
    letter-spacing: 2px;
  }
  .step-wrapper .container .step-title h1 {
    font-size: 24px;
    padding-bottom: 0;
    padding-bottom: 20px;
  }
  .step-wrapper .container .step-title p {
    font-size: 16px;
    padding-bottom: 0;
    padding-bottom: 14px;
  }
  .step-wrapper .container .steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 10px;
  }
  .step-wrapper .container .steps .step {
    width: 340px;
    height: 170px;
    margin-bottom: 20px;
  }
  .step-wrapper .container .steps .step h3 {
    font-size: 14px;
  }
  .step-wrapper .container .steps .step p {
    font-size: 14px;
  }
  .step-wrapper .container .steps .step p:first-of-type {
    font-size: 12px;
  }
  .blue-text-wrapper {
    letter-spacing: 1px;
  }
  .blue-text-wrapper .container p {
    font-size: 16px;
  }
  .study-wrapper {
    letter-spacing: 2px;
  }
  .study-wrapper .container .study-title h1 {
    font-size: 24px;
  }
  .study-wrapper .container .study-title .small {
    font-size: 14px;
  }
  .study-wrapper .container .study-title p {
    font-size: 16px;
  }
  .study-wrapper .container > p {
    font-size: 14px;
  }
  .merit-wrapper {
    letter-spacing: 2px;
  }
  .merit-wrapper .container .merit-title h1 {
    font-size: 24px;
  }
  .merit-wrapper .container .merit-title h2 {
    font-size: 16px;
  }
  .merit-wrapper .container .merits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .merit-wrapper .container .merits .merit {
    width: 90%;
    margin-bottom: 30px;
  }
  .merit-wrapper .container .merits .merit img {
    width: 300px;
  }
  .merit-wrapper .container .merits .merit h3 {
    text-align: center;
    font-size: 16px;
  }
  .merit-wrapper .container .merits .merit p {
    font-size: 14px;
    padding-top: 10px;
  }
  .merit-wrapper .container .merit-add h3 {
    font-size: 16px;
  }
  .merit-wrapper .container .merit-add p {
    font-size: 14px;
  }
  .merit-wrapper .container > p {
    font-size: 12px;
  }
  .member-wrapper {
    letter-spacing: 2px;
  }
  .member-wrapper .container .member-title h1 {
    font-size: 24px;
  }
  .member-wrapper .container .members {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .member-wrapper .container .members .member {
    width: 90%;
  }
  .member-wrapper .container .members .member .profile {
    height: 240px;
  }
  .member-wrapper .container .members .member .profile p {
    width: 90%;
    font-size: 14px;
  }
  .member-wrapper .container .members .member .profile p:nth-of-type(1) {
    padding: 60px 0 15px;
  }
  .member-wrapper .container .members .member .profile p:nth-of-type(3) {
    text-align: left;
    padding-top: 15px;
  }
  .member-wrapper .container .members .member .profile p:nth-of-type(4) {
    text-align: left;
    padding-top: 15px;
  }
  .comment-question-wrapper {
    letter-spacing: 2px;
  }
  .comment-question-wrapper .container .comment-question h1 {
    font-size: 24px;
  }
  .comment-wrapper {
    letter-spacing: 2px;
  }
  .comment-wrapper .container .comment-answer h1 {
    font-size: 24px;
  }
  .comment-wrapper .container .comment-answer h2 {
    font-size: 14px;
  }
  .comment-wrapper .container .comment-answer p {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .comment-wrapper .container .comment {
    width: 100%;
  }
  .detail-wrapper {
    letter-spacing: 2px;
  }
  .detail-wrapper .container .detail-title h1 {
    font-size: 24px;
  }
  .detail-wrapper .container .detail-title p {
    font-size: 14px;
  }
  .flow-wrapper {
    letter-spacing: 2px;
  }
  .flow-wrapper .container .flow-title h1 {
    font-size: 24px;
  }
  .flow-wrapper .container .flow img {
    width: 90%;
  }
  .flow-wrapper .container .flow-details .flow-detail {
    width: 90%;
  }
  .flow-wrapper .container .flow-details .flow-detail .flow-text {
    width: 70%;
  }
  .flow-wrapper .container .flow-details .flow-detail .flow-text .text-bold {
    font-size: 14px;
  }
  .flow-wrapper .container .flow-details .flow-detail .flow-text .text-small {
    font-size: 12px;
  }
  .bangkok-wrapper {
    padding-bottom: 0;
    padding-bottom: 40px;
  }
  .bangkok-wrapper .container h1 {
    padding: 0;
    padding: 60px 0 20px;
  }
  .bangkok-wrapper .container .nolist {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .bangkok-wrapper .container .list {
    font-size: 14px;
  }
  .bangkok-wrapper .container h2 {
    font-size: 16px;
  }
  .benefits-wrapper .container .benefits-title h1 {
    font-size: 24px;
  }
  .benefits-wrapper .container .benefits-title p {
    font-size: 14px;
  }
  .benefits-wrapper .container > h2 {
    font-size: 24px;
  }
  .benefits-wrapper .container .benefits {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .benefits-wrapper .container .benefits .benefit:nth-of-type(1), .benefits-wrapper .container .benefits .benefit:nth-of-type(2) {
    margin-bottom: 30px;
  }
  .novol-wrapper .container h1 {
    font-size: 24px;
  }
  .novol-wrapper .container p {
    font-size: 16px;
  }
  .novol-wrapper .container h2 {
    font-size: 24px;
  }
  .message-wrapper .container .message-title h1 {
    font-size: 24px;
  }
  .message-wrapper .container .message-title h2 {
    font-size: 16px;
  }
  .message-wrapper .container .message {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .message-wrapper .container .message img {
    width: 100%;
    margin-bottom: 40px;
  }
  .message-wrapper .container .message .message-text {
    width: 100%;
  }
  .form-wrapper {
    letter-spacing: 2px;
  }
  .form-wrapper .container .form-title h1 {
    font-size: 24px;
  }
  .form-wrapper .container .form-title p {
    font-size: 14px;
  }
  .form-wrapper .container .form .text {
    width: 70%;
  }
  .form-wrapper .container .form textarea {
    width: 70%;
  }
  .form-wrapper .container .form .submit {
    width: 70%;
  }
  .question-wrapper .container .question-title h1 {
    font-size: 24px;
  }
  .question-wrapper .container .faq-list .faq-list-item {
    width: 90%;
    margin: 0 auto 5px;
  }
  .question-wrapper .container .faq-list .faq-list-item .question h3, .question-wrapper .container .faq-list .faq-list-item .question .chevron-color {
    font-size: 16px;
  }
  .question-wrapper .container .faq-list .faq-list-item .answer p {
    font-size: 14px;
  }
}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .br-sp {
    display: block;
  }
  header {
    height: 60px;
    letter-spacing: normal;
  }
  header .container {
    max-width: initial;
  }
  header .container .header-left {
    padding-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
  }
  header .container .header-left img {
    width: 90px;
    height: 30px;
    margin-top: 4px;
  }
  header .container .header-left p {
    font-size: 10px;
    position: inherit;
  }
  header .container .doc-btn {
    display: none;
  }
  header .container .doc-icon {
    display: block;
  }
  .yellow-braces::before, .yellow-braces::after, .white-braces::before, .white-braces::after {
    width: 20px;
    height: 20px;
  }
  .top-wrapper {
    padding: 0;
    height: calc(310px + 60px);
    background-image: none;
    background-image: url(img/mainsp.jpg);
    background-size: cover;
    background-position: initial;
    background-repeat: no-repeat;
    background-position: bottom -40px center;
    letter-spacing: 1px;
  }
  .top-wrapper .container h1 {
    font-size: 18px;
    margin: 0 auto;
  }
  .top-wrapper .container img {
    margin-top: 20px;
  }
  .top-wrapper .container h2 {
    font-size: 15px;
  }
  .doc-wrapper {
    height: auto;
    letter-spacing: 0.6px;
  }
  .doc-wrapper .container {
    padding: 0;
    padding-top: 20px;
  }
  .doc-wrapper .container .skill p {
    font-size: 15px;
    padding: 0;
  }
  .doc-wrapper .container .skill .free {
    margin: 0 auto;
    margin-top: 10px;
  }
  .doc-wrapper .container .doc-btn {
    height: auto;
    width: 94%;
    margin-top: 30px;
    padding: 16px 0;
  }
  .doc-wrapper .container .doc-btn a {
    line-height: initial;
  }
  .doc-wrapper .container > p {
    margin: 0 auto;
    width: 80%;
    font-size: 15px;
  }
  .freedom-wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 0;
    padding-bottom: 100px;
  }
  .freedom-wrapper .container .freedom-title h1 {
    font-size: 18px;
    line-height: 40px;
  }
  .freedom-wrapper .container p {
    font-size: 14px;
    letter-spacing: 1px;
  }
  .about-wrapper .container .about-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    top: 0;
    top: -30px;
  }
  .about-wrapper .container .about-icon p {
    font-size: 12px;
  }
  .about-wrapper .container .about-title h1 {
    font-size: 18px;
    line-height: 40px;
  }
  .about-wrapper .container .about-text p {
    font-size: 15px;
    margin-bottom: 0;
    margin-bottom: 30px;
  }
  .about-wrapper .container .about-skill {
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .about-wrapper .container .about-skill > p {
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .about-wrapper .container .about-skill .skills {
    width: 90%;
    margin: 0 auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-wrapper .container .about-skill .skills .skill {
    padding: 0 0;
    padding: 20px 5px 0;
  }
  .about-wrapper .container .about-skill .skills .skill p {
    font-size: 10px;
  }
  .about-wrapper .container .about-skill .skills .skill img {
    height: 30px;
  }
  .step-wrapper {
    letter-spacing: 1px;
    background-image: none;
    background-image: url(img/aboutsecondbgsp.jpg);
    background-size: cover;
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .step-wrapper .container .step-title h1 {
    font-size: 18px;
  }
  .step-wrapper .container .step-title p {
    font-size: 12px;
  }
  .step-wrapper .container .steps .step {
    width: 90%;
    height: 110px;
  }
  .step-wrapper .container .steps .step h3 {
    width: 84%;
    font-size: 12px;
    margin: 0;
    margin: 16px auto;
  }
  .step-wrapper .container .steps .step p {
    font-size: 12px;
  }
  .step-wrapper .container .steps .step p:first-of-type {
    font-size: 12px;
    letter-spacing: normal;
    margin: 0;
    margin-bottom: 8px;
  }
  .blue-text-wrapper {
    padding: 0;
    padding: 20px 0;
  }
  .blue-text-wrapper .container p {
    margin: 0 auto;
    width: 96%;
    font-size: 12px;
  }
  .study-wrapper {
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .study-wrapper .container .study-title h1 {
    font-size: 18px;
  }
  .study-wrapper .container .study-title .small {
    font-size: 12px;
  }
  .study-wrapper .container .study-title p {
    font-size: 14px;
    padding-bottom: 0;
    padding-bottom: 20px;
  }
  .study-wrapper .container .study-contents {
    width: 90%;
  }
  .study-wrapper .container .study-contents .study-content {
    margin: 0;
  }
  .study-wrapper .container > p {
    padding: 0;
    padding-top: 20px;
    font-size: 12px;
  }
  .merit-wrapper {
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .merit-wrapper .container .merit-title h1 {
    font-size: 18px;
    width: 94%;
    margin: 0 auto;
  }
  .merit-wrapper .container .merit-title h2 {
    font-size: 15px;
    padding-bottom: 16px;
  }
  .merit-wrapper .container .merits {
    margin: 0;
    margin: 0 auto 10px;
  }
  .merit-wrapper .container .merits .merit img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 120px;
  }
  .merit-wrapper .container .merits .merit h3 {
    font-size: 15px;
  }
  .merit-wrapper .container .merits .merit p {
    margin: 0 auto;
    width: 96%;
    font-size: 12px;
  }
  .merit-wrapper .container .merit-add {
    padding: 0;
    padding: 0 14px 20px;
  }
  .merit-wrapper .container .merit-add h2 {
    font-size: 18px;
    margin: 0;
    margin: 10px auto;
  }
  .merit-wrapper .container .merit-add h3 {
    margin: 0 auto 10px;
    font-size: 15px;
  }
  .merit-wrapper .container .merit-add p {
    letter-spacing: normal;
    font-size: 10px;
  }
  .merit-wrapper .container > p {
    margin: 0;
    margin: 20px auto 0;
    padding-bottom: 20px;
    letter-spacing: normal;
  }
  .member-wrapper {
    letter-spacing: 1px;
  }
  .member-wrapper .container .member-title h1 {
    font-size: 18px;
  }
  .member-wrapper .container .member-title p {
    font-size: 12px;
  }
  .member-wrapper .container .members .member {
    width: 96%;
  }
  .member-wrapper .container .members .member img {
    width: auto;
    height: 120px;
  }
  .member-wrapper .container .members .member .profile {
    height: auto;
  }
  .member-wrapper .container .members .member .profile p {
    width: 96%;
    font-size: 12px;
  }
  .member-wrapper .container .members .member .profile p:last-of-type {
    padding-bottom: 30px;
  }
  .comment-question-wrapper .container .comment-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 12px;
  }
  .comment-question-wrapper .container .comment-question h1 {
    font-size: 18px;
    width: 94%;
    margin: 0 auto;
    line-height: 40px;
  }
  .comment-wrapper .container .comment-answer h1 {
    font-size: 18px;
  }
  .comment-wrapper .container .comment-answer h2 {
    font-size: 12px;
  }
  .comment-wrapper .container .comment-answer p {
    font-size: 12px;
  }
  .comment-wrapper .container .comment {
    width: 96%;
  }
  .comment-wrapper .container .comment img {
    width: 30%;
    height: 20%;
  }
  .comment-wrapper .container .comment .comment-text {
    width: 60%;
  }
  .comment-wrapper .container .comment .comment-text h3 {
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
  }
  .comment-wrapper .container .comment .comment-text P {
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
  }
  .detail-wrapper {
    background-image: none;
    background-image: url(img/classbgsp.jpg);
    padding-bottom: 0;
    padding-bottom: 20px;
  }
  .detail-wrapper .container .detail-title h1 {
    font-size: 18px;
  }
  .detail-wrapper .container .detail-title p {
    font-size: 12px;
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .detail-wrapper .container .details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .detail-wrapper .container .details .detail {
    width: 96%;
    margin: 0 auto 16px;
  }
  .detail-wrapper .container .details .detail .detail-item-title {
    padding: 16px 0;
  }
  .detail-wrapper .container .details .detail .detail-item-title h3 {
    font-size: 15px;
  }
  .detail-wrapper .container .details .detail .detail-content {
    font-size: 12px;
    font-weight: bold;
  }
  .detail-wrapper .container .details .detail .detail-content p {
    padding: 12px 0;
    border-bottom: dotted 0.5px #E5E5E5;
  }
  .detail-wrapper .container .details .detail .detail-content p:last-of-type {
    border-bottom: none;
  }
  .flow-wrapper .container .flow-title {
    padding-bottom: 0;
    padding-bottom: 30px;
  }
  .flow-wrapper .container .flow-title h1 {
    font-size: 18px;
  }
  .flow-wrapper .container .flow {
    display: none;
  }
  .flow-wrapper .container .flow-details {
    display: none;
  }
  .flow-wrapper .container .flow-details-sp {
    display: block;
  }
  .bangkok-wrapper {
    background-image: none;
    background-image: url(img/bangkokbgsp.jpg);
  }
  .bangkok-wrapper .container h1 {
    text-align: center;
  }
  .bangkok-wrapper .container .nolist {
    letter-spacing: normal;
  }
  .bangkok-wrapper .container .list {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .bangkok-wrapper .container h2 {
    font-size: 15px;
  }
  .benefits-wrapper {
    padding-bottom: 0;
    padding-bottom: 20px;
  }
  .benefits-wrapper .container .benefits-title h1 {
    font-size: 18px;
    padding: 0;
    padding: 30px 0;
  }
  .benefits-wrapper .container .benefits-title p {
    font-size: 12px;
    padding: 0 10px 20px;
  }
  .benefits-wrapper .container > h2 {
    width: 240px;
    font-size: 18px;
    position: relative;
    top: 27px;
    padding: 0 10px;
  }
  .benefits-wrapper .container .benefits {
    width: 90%;
    padding: 0;
    padding: 40px 30px 0;
  }
  .benefits-wrapper .container .benefits .benefit {
    display: none;
  }
  .benefits-wrapper .container .benefits .benefit-sp {
    display: block;
  }
  .novol-wrapper {
    background-image: none;
    background-image: url(img/specialdetailsp.jpg);
    padding-bottom: 0;
    padding-bottom: 60px;
  }
  .novol-wrapper .container h1 {
    font-size: 18px;
  }
  .novol-wrapper .container p {
    letter-spacing: 1px;
    font-size: 12px;
  }
  .novol-wrapper .container h2 {
    font-size: 18px;
    line-height: 40px;
  }
  .message-wrapper .container .message-title h1 {
    font-size: 18px;
    padding: 0;
    padding: 40px 0 40px;
  }
  .message-wrapper .container .message-title h2 {
    font-size: 15px;
  }
  .message-wrapper .container .message {
    padding: 0;
    padding: 20px 30px;
  }
  .message-wrapper .container .message img {
    margin-bottom: 0;
    margin-bottom: 20px;
  }
  .form-wrapper .container .form-title h1 {
    font-size: 18px;
    padding: 0;
    padding: 50px 0 30px;
  }
  .form-wrapper .container .form-title p {
    font-size: 12px;
  }
  .form-wrapper .container .form .text {
    width: 90%;
  }
  .form-wrapper .container .form textarea {
    width: 90%;
  }
  .form-wrapper .container .form .submit {
    width: 90%;
  }
  .question-wrapper .container .question-title h1 {
    font-size: 18px;
    padding: 0;
    padding: 50px 0 30px;
  }
  .question-wrapper .container .faq-list .faq-list-item {
    width: 90%;
    margin: 0 auto 5px;
  }
  .question-wrapper .container .faq-list .faq-list-item .question {
    padding: 0;
    padding: 6px 10px;
  }
  .question-wrapper .container .faq-list .faq-list-item .question h3, .question-wrapper .container .faq-list .faq-list-item .question .chevron-color {
    font-size: 15px;
  }
  .question-wrapper .container .faq-list .faq-list-item .answer p {
    font-size: 12px;
  }
  footer {
    padding-bottom: 0;
    padding-bottom: 10px;
  }
  footer .container .footer-title {
    padding: 0;
    padding: 20px 0 12px;
  }
  .pagetop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 0;
    padding: 14px;
    font-size: 8px;
  }
}
/*# sourceMappingURL=responsive.css.map */