/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {

  header {
    letter-spacing: normal;
    .container {
      .header-left {
        img {
          position: relative;
          top: -2px;
        }
        p {
          font-size: 12px;
        }
      }
      .doc-btn {
        width: 260px;
        height: 40px;
        a {
          font-size: 12px;
          line-height: 40px;
        }
      }
    }
  }

  .top-wrapper {
    background-size: auto;
    // background-size: cover;
    background-position: bottom 0 right 50%;
    letter-spacing: 2px;

    .container {
      h1 {
        font-size: 24px;
        
      }
      h2 {
        font-size: 16px;
      }
    }
  }

  .doc-wrapper {
    // height: 460px;
    letter-spacing: 2px;
    .container {
      .skill {
        p {
          font-size: 16px;
        }
        .free {
          margin:  0 auto;
          margin-top: 10px;
          margin-bottom: 8px;
          span {
            font-size: 14px;
          }
        }
      }
      .doc-btn {
        height: 80px;
        border-radius: 100vh;
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 20px;
        a {
          line-height: 80px;
          font-size: 20px;
        }
      }
      & > p {
        letter-spacing: 1px;
        font-size: 18px;
      }
    }
  }

  .freedom-wrapper {
    .container {
      .freedom-title{
        h1 {
          font-size: 24px;
        }
      }
      p {
        font-size: 16px;
      }
    }
  }

  .yellow-braces, .white-braces {
    width: 96%;
  }

  .about-wrapper {
    .container {
      .about-title h1 {
          font-size: 24px;
      }
      .about-text p {
        font-size: 16px;
      }
      .about-skill {
        & > p {
          font-size: 16px;
        }
      }
    }
  }

  .step-wrapper {
    // height: 800px;
    letter-spacing: 2px;
    .container {
      .step-title {
        h1 {
          font-size: 24px;
          padding-bottom: 0;
          padding-bottom: 20px;
        }
        p {
          font-size: 16px;
          padding-bottom: 0;
          padding-bottom: 14px;
        }
      }
      .steps {
        flex-flow: column;
        // justify-content: center;
        align-items: center;
        padding-top: 10px;
        .step {
          width: 340px;
          height: 170px;
          margin-bottom: 20px;
          h3 {
            font-size: 14px;
          }
          p {
            font-size: 14px;
            &:first-of-type {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .blue-text-wrapper {
    letter-spacing: 1px;
    .container {
      p {
        font-size: 16px;
      }
    }
  }

  .study-wrapper {
    letter-spacing: 2px;
    .container {
      .study-title {
        h1 {
          font-size: 24px;
        }
        .small {
          font-size: 14px;
        }
        p {
          font-size: 16px;
        }
      }
      & > p {
        font-size: 14px;
      }
    }
  }

  .merit-wrapper {
    // height: 1500px;
    letter-spacing: 2px;
    .container {
      .merit-title {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 16px;
        }
      }
      .merits {
        flex-flow: column;
        align-items: center;
        margin-bottom: 0;
        // margin-bottom: 20;
        .merit {
          width: 90%;
          margin-bottom: 30px;
          img {
            width: 300px;
            // height: 180px;
          }
          h3 {
            text-align: center;
            font-size: 16px;
          }
          p {
            font-size: 14px;
            padding-top: 10px;
          }
        }
      }
      .merit-add {
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
      }
      & > p {
        font-size: 12px;
      }
    }
  }

  .member-wrapper {
    // height: 1550px;
    letter-spacing: 2px;
    .container {
      .member-title {
        h1 {
          font-size: 24px;
        }
      }
      .members {
        flex-flow: column;
        align-items: center;
        .member {
          width: 90%;
          .profile {
            height: 240px;
            p {
              width: 90%;
              font-size: 14px;
              
              &:nth-of-type(1) {
                padding: 60px 0 15px;
              }
              &:nth-of-type(3) {
                text-align: left;
                padding-top: 15px;
              }
              &:nth-of-type(4) {
                text-align: left;
                padding-top: 15px;
              }
            }
          }
        }
      }
    }
  }

  .comment-question-wrapper {
    letter-spacing: 2px;
    .container {
      .comment-question {
        h1 {
          font-size: 24px;
        }
      }
    }
  }

  .comment-wrapper {
    // height: 1180px;
    letter-spacing: 2px;
    .container {
      .comment-answer {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          letter-spacing: 1px;
        }
      }
      .comment {
        width: 100%;
      }
    }
  }

  .detail-wrapper {
    letter-spacing: 2px;
    .container {
      .detail-title {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }

  .flow-wrapper {
    letter-spacing: 2px;
    .container {
      .flow-title {
        h1 {
          font-size: 24px;
        }
      }
      .flow {
        img {
          width: 90%;
        }
      }
      .flow-details {
        .flow-detail {
          width: 90%;
          .flow-text {
            width: 70%;
            .text-bold {
              font-size: 14px;
            }
            .text-small {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .bangkok-wrapper {
    // height: 390px;
    padding-bottom: 0;
    padding-bottom: 40px;
    .container {
      h1 {
        padding: 0;
        padding: 60px 0 20px;
      }
      .nolist {
        letter-spacing: 1px;
        font-size: 12px;
      }
      .list {
        font-size: 14px;
      }
      h2 {
        font-size: 16px;
      }
    }
  }

  .benefits-wrapper {
    // height: 1200px;
    .container {
      .benefits-title {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      & > h2 {
        font-size: 24px;
      }
      .benefits {
        width: 90%;
        flex-flow: column;
        .benefit:nth-of-type(1), .benefit:nth-of-type(2) {
          margin-bottom: 30px;
        }
      }
    }
  }

  .novol-wrapper {
    // height: 480px;
    .container {
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
      h2 {
        font-size: 24px;
      }
    }
  }

  .message-wrapper {
    .container {
      .message-title {
        h1 {
          font-size: 24px;
        }
        h2 {
          font-size: 16px;
        }
      }
      .message {
        width: 100%;
        flex-flow: column;
        img {
          width: 100%;
          margin-bottom: 40px;
        }
        .message-text {
          width: 100%;
        }
      }
    }
  }

  .form-wrapper {
    letter-spacing: 2px;
    .container {
      .form-title {
        h1 {
          font-size: 24px;
        }
        p {
          font-size: 14px;
        }
      }
      .form {
        .text {
          width: 70%;
        }
        textarea {
          width: 70%;
        }
        .submit {
          width: 70%;
        }
      }
    }
  }

  .question-wrapper {
    .container {
      .question-title {
        h1 {
          font-size: 24px;
        }
      }
      .faq-list {
        .faq-list-item {
          width: 90%;
          margin: 0 auto 5px;
          .question {
            h3, .chevron-color {
              font-size: 16px;
            }
          }
          .answer {
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

}

/* モバイル向けレイアウト */
@media all and (max-width: 670px) {
  .container {
    // max-width: 700px;
    width: 100%;
    height: 100%;
    // padding: 0 15px;
    margin: 0 auto;
  }

  .br-sp {
    display: block;
  }

  header {
    height: 60px;
    letter-spacing: normal;
    .container {
      max-width: initial;
      .header-left {
        padding-left: 10px;
        flex-flow: column-reverse;
        img {
          width: 90px;
          height: 30px;
          margin-top: 4px;
        }
        p {
          font-size: 10px;
          position: inherit;
        }
      }
      .doc-btn {
        display: none;
      }
      .doc-icon {
        display: block;
      }
    }
  }

  .yellow-braces, .white-braces {
    &::before, &::after {
      width: 20px;
      height: 20px;
    }
  }
  
  .top-wrapper {
    padding: 0;
    height: calc(310px + 60px);
    // height: 310px;
    // padding-top: 60px;
    background-image: none;
    background-image: url(img/mainsp.jpg);
    background-size: cover;
    // background-position:center center;
    background-position: initial;
    // background-position: bottom 80% right 10%;
    // background-position: center;
    background-repeat: no-repeat;
    background-position: bottom -40px center;
    letter-spacing: 1px;
    .container {
      h1 {
        font-size: 18px;
        margin: 0 auto;
      }
      img {
        margin-top: 20px;
      }
      h2 {
        font-size: 15px;
      }
    }
  }

  .doc-wrapper {
    height: auto;
    letter-spacing: 0.6px;
    .container {
      padding: 0;
      padding-top: 20px;
      .skill {
        p {
          font-size: 15px;
          padding: 0;
        }
        .free {
          margin:  0 auto;
          margin-top: 10px;
          // margin-bottom: 8px;
        }
      }
      .doc-btn {
        height: auto;
        width: 94%;
        margin-top: 30px;
        padding: 16px 0;
        a {
          line-height: initial;
        }
      }
      & > p {
        margin: 0 auto;
        width: 80%;
        font-size: 15px;
      }
    }
  }

  .freedom-wrapper {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 0;
    padding-bottom: 100px;
    .container {
      .freedom-title {
        h1 {
          font-size: 18px;
          line-height: 40px;
        }
      }
      p {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
  }

  .about-wrapper {
    .container {
      .about-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        position: relative;
			  top: 0;
			  top: -30px;
        p {
          font-size: 12px;
        }
      }
      .about-title {
        h1 {
          font-size: 18px;
          line-height: 40px;
        }
      }
      .about-text {
        p {
          font-size: 15px;
          margin-bottom: 0;
          margin-bottom: 30px;
        }
      }
      .about-skill {
        padding-bottom: 0;
        padding-bottom: 30px;
        & > p {
          font-size: 15px;
          margin: 0 auto;
          margin-top: 10px;
          // margin-bottom: 10px;
        }
        .skills {
          width: 90%;
          margin: 0 auto;
          flex-wrap: wrap;
  
          .skill {
            padding: 0 0;
            padding: 20px 5px 0;
            p {
              font-size: 10px;
            }
            img {
              height: 30px;
            }
          }
        }
      }
    }
  }

  .step-wrapper {
    // height: 650px;
    letter-spacing: 1px;
    background-image: none;
    background-image: url(img/aboutsecondbgsp.jpg);
    background-size: cover;
    padding-bottom: 0;
    padding-bottom: 30px;
    .container {
      .step-title {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
      }
      .steps {
        .step {
          width: 90%;
          height: 110px;
          h3 {
            width: 84%;
            font-size: 12px;
            margin: 0;
            margin: 16px auto;
          }
  
          p {
            font-size: 12px;
  
            &:first-of-type {
              font-size: 12px;
              letter-spacing: normal;
              margin: 0;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .blue-text-wrapper {
    // height: 100px;
    padding: 0;
    padding: 20px 0;
    .container {
      p {
        margin: 0 auto;
        width: 96%;
        font-size: 12px;
      }
    }
  }

  .study-wrapper {
    // height: 420px;
    padding-bottom: 0;
    padding-bottom: 30px;
    .container {
      .study-title {
        h1 {
          font-size: 18px;
        }
        .small {
          font-size: 12px;
        }
        p {
          font-size: 14px;
          padding-bottom: 0;
          padding-bottom: 20px;
        }
      }
      .study-contents {
        width: 90%;
        .study-content {
          margin: 0;
        }
      }
      & > p {
        padding: 0;
        padding-top: 20px;
        font-size: 12px;
      }
    }
  }

  .merit-wrapper {
    // height: 1200px;
    padding-bottom: 0;
    padding-bottom: 30px;
    .container {
      .merit-title {
        h1 {
          font-size: 18px;
          width: 94%;
          margin: 0 auto;
        }
        h2 {
          font-size: 15px;
          padding-bottom: 16px;
        }
      }
      .merits {
        margin: 0;
        margin: 0 auto 10px;
        .merit {
          img {
            object-fit: cover;
            width: 100%;
            height: 120px;
          }
          h3 {
            font-size: 15px;
          }
          p {
            margin: 0 auto;
            width: 96%;
            font-size: 12px;
          }
        }
      }
      .merit-add {
        padding: 0;
        padding: 0 14px 20px;
        h2 {
          font-size: 18px;
          margin: 0;
          margin: 10px auto;
        }
        h3 {
          margin: 0 auto 10px;
          font-size: 15px;
        }
        p {
          letter-spacing: normal;
          font-size: 10px;
        }
      }
      & > p {
        margin: 0;
        margin: 20px auto 0;
        padding-bottom: 20px;
        letter-spacing: normal;
      }
    }
  }

  .member-wrapper {
    // height: 1240px;
    letter-spacing: 1px;
    .container {
      .member-title {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
        }
      }
      .members {
        .member {
          width: 96%;
          img {
            // width: 120px;
            width: auto;
					  height: 120px;
          }
          .profile {
            // height: 220px;
            height: auto;
            p {
              width: 96%;
              font-size: 12px;
              &:last-of-type {
							  padding-bottom: 30px;
						  }
            }
          }
        }
      }
    }
  }

  .comment-question-wrapper {
    .container {
      .comment-icon {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 12px;
      }
      .comment-question {
        h1 {
          font-size: 18px;
          width: 94%;
          margin: 0 auto;
          line-height: 40px;
        }
      }
    }
  }

  .comment-wrapper {
    .container {
      .comment-answer {
        h1 {
          font-size: 18px;
        }
        h2 {
          font-size: 12px;
        }
        p {
          font-size: 12px;
        }
      }
      .comment {
        width: 96%;
  
        img {
          // width: auto;
          // object-fit: cover;
          width: 30%;
          height: 20%;
          // height: auto;
        }
        .comment-text {
          width: 60%;
          h3 {
            font-size: 14px;
            font-weight: normal;
            padding-top: 0;
            // padding-top: 10;
          }
          P {
            font-size: 12px;
            font-style: italic;
            text-decoration: underline;
          }
        }
  
      }
    }
  }

  .detail-wrapper {
    background-image: none;
    background-image: url(img/classbgsp.jpg);
    padding-bottom: 0;
    padding-bottom: 20px;
    .container {
      .detail-title {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 12px;
          padding-bottom: 0;
          padding-bottom: 30px;
        }
      }
      .details {
        flex-direction: column;
        margin: 0 auto;
        .detail {
          width: 96%;
          margin: 0 auto 16px;
  
          .detail-item-title {
            padding: 16px 0;
            h3 {
              font-size: 15px;
            }
          }
          .detail-content {
            font-size: 12px;
            font-weight: bold;
  
            p {
              padding: 12px 0;
              border-bottom: dotted 0.5px #E5E5E5;
  
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
        }
      }
    }
  }

  .flow-wrapper {
    .container {
      .flow-title {
        padding-bottom: 0;
        padding-bottom: 30px;
        h1 {
          font-size: 18px;
        }
      }
      .flow {
        display: none;
      }
      .flow-details {
        display: none;
      }
      .flow-details-sp {
        display: block;
      }
    }
  }

  .bangkok-wrapper {
    background-image: none;
    background-image: url(img/bangkokbgsp.jpg);
    .container {
      h1 {
        text-align: center;
      }
      .nolist {
        letter-spacing: normal;
      }
      .list {
        letter-spacing: 1px;
        font-size: 12px;
      }
      h2 {
        font-size: 15px;
      }
    }
  }

  .benefits-wrapper {
    padding-bottom: 0;
    padding-bottom: 20px;
    .container {
      .benefits-title {
        h1 {
          font-size: 18px;
          padding: 0;
          padding: 30px 0;
        }
        p {
          font-size: 12px;
          padding: 0 10px 20px;
        }
      }
      & > h2 {
        width: 240px;
        font-size: 18px;
        position: relative;
        top: 27px;
        padding: 0 10px;
      }
      .benefits {
        width: 90%;
        padding: 0;
        padding: 40px 30px 0;
  
        .benefit {
          display: none;
        }
        .benefit-sp {
          display: block;
        }
      }
    }
  }

  .novol-wrapper {
    background-image: none;
    background-image: url(img/specialdetailsp.jpg);
    padding-bottom: 0;
    padding-bottom: 60px;
    .container {
      h1 {
        font-size: 18px;
      }
      p {
        letter-spacing: 1px;
        font-size: 12px;
      }
      h2 {
        font-size: 18px;
        line-height: 40px;
      }
    }
  }

  .message-wrapper {
    .container {
      .message-title {
        h1 {
          font-size: 18px;
          padding: 0;
          padding: 40px 0 40px;
        }
        h2 {
          font-size: 15px;
        }
      }
      .message {
        padding: 0;
        padding: 20px 30px;
        img {
          margin-bottom: 0;
          margin-bottom: 20px;
        }
      }
    }
  }

  .form-wrapper {
    .container {
      .form-title {
        h1 {
          font-size: 18px;
          padding: 0;
          padding: 50px 0 30px;
        }
        p {
          font-size: 12px;
        }
      }
      .form {
        .text {
          width: 90%;
        }
        textarea {
          width: 90%;
        }
        .submit {
          width: 90%;
        }
      }
    }
  }

  .question-wrapper {
    .container {
      .question-title {
        h1 {
          font-size: 18px;
          padding: 0;
          padding: 50px 0 30px;
        }
      }
      .faq-list {
        .faq-list-item {
          width: 90%;
          margin: 0 auto 5px;
          .question {
            padding: 0;
            padding: 6px 10px;
            h3, .chevron-color {
              font-size: 15px;
            }
          }
          .answer {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  footer {
    padding-bottom: 0;
    padding-bottom: 10px;
    .container {
      .footer-title {
        padding: 0;
        padding: 20px 0 12px;
      }
    }
  }

  .pagetop {
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 0;
    padding: 14px;
    font-size: 8px;
  }
  
}